/* style.css */

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f2f5;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#chat-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 500px;
}

#chat-logo {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  font-family: arial black;
  background-clip: text;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation : move 35s linear infinite
}
@keyframes move{
    to{
        background-position: 4500vh;
    }
}

#chat-container {
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 80vh; /* To ensure it fits on small screens */
}

#mensajes {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

#mensaje {
  border: none;
  padding: 15px;
  font-size: 16px;
  border-radius: 0 0 12px 12px;
  outline: none;
  width: calc(100% - 30px);
  margin: 10px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  #chat-wrapper {
    width: 100%;
    max-width: none;
    padding: 10px;
  }

  #chat-logo {
    font-size: 20px;
    margin-bottom: 15px;
  }

  #chat-container {
    max-height: 70vh; /* Reduce height on smaller screens */
  }

  #mensaje {
    padding: 10px;
    font-size: 14px;
    margin: 5px 10px;
    width: calc(100% - 20px);
  }

  #mensajes {
    padding: 10px;
  }
}
